.arena-container {
    padding: 20px;
}

.arena-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #10090e;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.three-dot-button {
    font-size: 24px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.arena-title {
    margin: 0;
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

.profile-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: #e8ecf0;
}

/* Optional sidebar styling */
.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background-color: #ce5454;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: transform 0.3s ease;
}
